/* main.css */

body {
  align-items  : center;
  display      : grid;
  font-family  : sans-serif;
  font-size: 20px;
  height       : 95vh;
  justify-items: center;
  width        : 98%;
}

fieldset {
  border: none;
}

h1 {
  margin    : 0;
  text-align: center;
}

input[type="number"] {
  font-size: 1.2rem;
  width: 60px;
}

main {
  display      : grid;
  height       : 100%;
  justify-items: center;
  max-height   : 600px;
  max-width    : 500px;
  width        : 100%;
}

#audio-selection {
  align-items        : center;
  display            : grid;
  grid-template-areas: 'air car';
  justify-items      : center;
}

#honk-btn {
  background-color: #DDD;
  border          : none;
  border-radius   : 5px;
  height          : 35px;
  margin          : 20px auto 0 auto;
  transition      : 0.1s ease all;
  width           : 100px;
}

#honk-btn:hover {
  cursor          : pointer;
  background-color: #AAA;
  transition      : 0.1s ease all;
}

#honk-btn-container {
  display      : grid;
  justify-items: center;
  width        : 100%;
}

#radio-air-horn-container {
  padding-right: 30px;
}

#sound-image {
  max-width: 200px;
  padding  : 30px 0;
  width    : 80%;
}

#volume-controls {
  align-items  : center;
  display      : grid;
  column-gap   : 10px;
  justify-items: center;
  grid-template-areas:
    'text image input'
    'slider slider slider';
  grid-template-rows: 1fr 1fr;
}

#volume-image {
  justify-self: flex-start; 
  max-width    : 40px;
  padding-right: 20px;
  width        : 100%;
}

#volume-slider {
  grid-area: slider;
}